<div class="main-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="left-top">
          <a
            class="new-btn-d br-2"
            (click)="verifyAuth()"
            routerLinkActive="active"
            ><span>Agendar Cita</span></a
          >
          <div class="mail-b">
            <a routerLink="/contact" routerLinkActive="active"
              ><i class="fa fa-envelope-o" aria-hidden="true"></i>
              atencion&#64;health-lab.com</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="wel-nots">
          <p>Bienvenido a Health Lab</p>
        </div>
        <div class="right-top">
          <ul>
            <li>
              <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
