<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="assets/images/register.jpg"
                alt="Sample"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase form-title">
                  Formulario de registro
                </h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1m"
                        >Nombre</label
                      >
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1n"
                        class="form-control form-control-lg"
                      />
                      <label class="form-label" for="form3Example1n"
                        >Apellidos</label
                      >
                    </div>
                  </div>
                </div>

                <div
                  class="d-md-flex justify-content-start align-items-center mb-4 py-2"
                >
                  <h6 class="mr-4 p-0">Genero:</h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="femaleGender"
                      value="option1"
                    />
                    <label class="form-check-label" for="femaleGender"
                      >Femenino</label
                    >
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="maleGender"
                      value="option2"
                    />
                    <label class="form-check-label" for="maleGender"
                      >Masculino</label
                    >
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="otherGender"
                      value="option3"
                    />
                    <label class="form-check-label" for="otherGender"
                      >Otro</label
                    >
                  </div>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example8"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example8">Address</label>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <select data-mdb-select-init class="custom-select">
                      <option value="1">Pais</option>
                      <option value="2">Colombia</option>
                      <option value="3">Ecuador</option>
                      <option value="4">Perú</option>
                    </select>
                  </div>
                  <div class="col-md-6 mb-4">
                    <select data-mdb-select-init class="custom-select">
                      <option value="1">Ciudad</option>
                      <option value="2">Cali</option>
                      <option value="3">Medellin</option>
                      <option value="4">Bogotá</option>
                      <option value="5">Pereira</option>
                      <option value="6">Armenia</option>
                    </select>
                  </div>
                </div>

                <div class="form-outline">
                  <select data-mdb-select-init class="custom-select my-4">
                    <option value="1">Tipo de Identificación</option>
                    <option value="2">Cedula de Ciudadania</option>
                    <option value="3">Cedula de Extranjeria</option>
                    <option value="4">Tarjeta de Identidad</option>
                    <option value="5">Registro Civil</option>
                  </select>
                </div>

                <div data-mdb-input-init class="form-outline my-4">
                  <input
                    type="text"
                    id="form3Example90"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example90"
                    >Numero de Identificación</label
                  >
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example97"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="form3Example97">Email </label>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-light btn-lg mr-2"
                  >
                    Limpiar todo
                  </button>
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-warning btn-lg ml-2"
                  >
                    Registarse
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
