<section class="h-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img
                src="assets/images/register.jpg"
                alt="Sample"
                class="img-fluid"
                style="
                  border-top-left-radius: 0.25rem;
                  border-bottom-left-radius: 0.25rem;
                "
              />
            </div>
            <div class="col-xl-6">
              <form
                class="card-body p-md-5 text-black"
                [formGroup]="registerForm"
                (ngSubmit)="register()"
              >
                <h3 class="mb-5 text-uppercase form-title">
                  Formulario de registro
                </h3>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1m"
                        class="form-control form-control-lg"
                        formControlName="name"
                      />
                      <label class="form-label" for="form3Example1m"
                        >Nombre</label
                      >
                    </div>
                    @if (nameInvalid) {
                    <span class="text-red"
                      >Nombre debe tener minimo 3 caracteres</span
                    >
                    }
                  </div>
                  <div class="col-md-6 mb-4">
                    <div data-mdb-input-init class="form-outline">
                      <input
                        type="text"
                        id="form3Example1n"
                        class="form-control form-control-lg"
                        formControlName="lastName"
                      />
                      <label class="form-label" for="form3Example1n"
                        >Apellidos</label
                      >
                    </div>
                    @if (lastNameInvalid) {
                    <span class="text-red"
                      >Apellido debe tener minimo 3 caracteres</span
                    >
                    }
                  </div>
                </div>

                <div
                  class="d-md-flex justify-content-start align-items-center mb-4 py-2"
                >
                  <h6 class="mr-4 p-0">Genero:</h6>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="femaleGender"
                      value="famale"
                      formGroupName="gender"
                    />
                    <label class="form-check-label" for="femaleGender"
                      >Femenino</label
                    >
                  </div>

                  <div class="form-check form-check-inline mb-0 me-4">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="maleGender"
                      value="male"
                      formControlName="gender"
                    />
                    <label class="form-check-label" for="maleGender"
                      >Masculino</label
                    >
                  </div>

                  <div class="form-check form-check-inline mb-0">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="gender"
                      id="otherGender"
                      value="other"
                      formControlName="gender"
                    />
                    <label class="form-check-label" for="otherGender"
                      >Otro</label
                    >
                  </div>
                  @if (genderInvalid) {
                  <span class="text-red">Debe seleccionar un genero</span>
                  }
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example8"
                    class="form-control form-control-lg"
                    formControlName="address"
                  />
                  <label class="form-label" for="form3Example8"
                    >Dirección</label
                  >
                  @if (addressInvalid) {
                  <span class="text-red ml-3"
                    >Dirección debe tener minimo 5 caracteres</span
                  >
                  }
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <select
                      data-mdb-select-init
                      class="custom-select"
                      formControlName="country"
                    >
                      <option value="">Pais</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Perú">Perú</option>
                    </select>
                    @if (countryInvalid) {
                    <span class="text-red">Debe seleccionar un Pais</span>
                    }
                  </div>
                  <div class="col-md-6 mb-4">
                    <select
                      data-mdb-select-init
                      class="custom-select"
                      formControlName="city"
                    >
                      <option value="">Ciudad</option>
                      <option value="Cali">Cali</option>
                      <option value="Medellin">Medellin</option>
                      <option value="Bogotá">Bogotá</option>
                      <option value="Pereira">Pereira</option>
                      <option value="Armenia">Armenia</option>
                    </select>
                    @if (cityInvalid) {
                    <span class="text-red">Debe seleccionar una Ciudad</span>
                    }
                  </div>
                </div>

                <div class="form-outline">
                  <select
                    data-mdb-select-init
                    [className]="
                      identificationTypeInvalid
                        ? 'custom-select mt-4'
                        : 'custom-select my-4'
                    "
                    formControlName="identificationType"
                  >
                    <option value="">Tipo de Identificación</option>
                    <option value="cc">Cedula de Ciudadania</option>
                    <option value="ce">Cedula de Extranjeria</option>
                    <option value="ti">Tarjeta de Identidad</option>
                    <option value="reg">Registro Civil</option>
                  </select>
                  @if (identificationTypeInvalid) {
                  <span class="text-red mt-n3"
                    >Debe seleccionar un tipo de identificación</span
                  >
                  }
                </div>

                <div data-mdb-input-init class="form-outline my-4">
                  <input
                    type="text"
                    id="form3Example90"
                    class="form-control form-control-lg"
                    formControlName="identificationNumber"
                  />
                  <label class="form-label" for="form3Example90"
                    >Numero de Identificación</label
                  >
                  @if (identificationNumberInvalid) {
                  <span class="text-red ml-3"
                    >Numero de identificación debe tener minimo 5
                    caracteres</span
                  >
                  }
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example97"
                    class="form-control form-control-lg"
                    formControlName="email"
                  />
                  <label class="form-label" for="form3Example97">Email </label>
                  @if (emailInvalid) {
                  <span class="text-red ml-3">Email invalido</span>
                  }
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example98"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                  <label class="form-label" for="form3Example97"
                    >Contraseña
                  </label>
                  @if (passwordInvalid) {
                  <span class="text-red ml-3"
                    >Contraseña debe tener minimo 6 caracteres</span
                  >
                  }
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example99"
                    class="form-control form-control-lg"
                    formControlName="confirmPassword"
                  />
                  <label class="form-label" for="form3Example97"
                    >Confirmar Contraseña
                  </label>
                  @if (confirmPasswordInvalid) {
                  <span class="text-red ml-3"
                    >Las contraseñas no coinciden</span
                  >
                  }
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button
                    type="button"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-reset btn-lg mr-2"
                  >
                    Limpiar todo
                  </button>
                  <button
                    type="submit"
                    [disabled]="!registerForm.valid"
                    data-mdb-button-init
                    data-mdb-ripple-init
                    class="btn btn-common btn-lg ml-2"
                  >
                    Registarse
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
