<!-- Start Contact -->
<div id="contact" class="contact-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Contactenos</h2>
          <p>
            En Health Lab, valoramos su opinión y estamos aquí para ayudarle con
            cualquier consulta o necesidad que pueda tener. Nuestro equipo de
            atención al cliente está disponible para responder sus preguntas,
            proporcionarle información adicional sobre nuestros servicios y
            asistirle en cualquier aspecto relacionado con su salud. No dude en
            ponerse en contacto con nosotros a través de los medios disponibles,
            y estaremos encantados de atenderle.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-xs-12">
        <div class="contact-block">
          <form id="contactForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    id="name"
                    name="name"
                    placeholder="Su nombre"
                    required
                    data-error="Por favor ingrese su nombre"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Su email"
                    id="email"
                    class="form-control"
                    name="name"
                    required
                    data-error="Por favor ingrese su email"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input
                    type="text"
                    placeholder="Su número de teléfono"
                    id="number"
                    class="form-control"
                    name="number"
                    required
                    data-error="Por favor ingrese su número de teléfono"
                  />
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea
                    class="form-control"
                    id="message"
                    placeholder="Su mensaje"
                    rows="8"
                    data-error="Por favor escriba su mensaje"
                    required
                  ></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="submit-button text-center">
                  <button class="btn btn-common" id="submit" type="submit">
                    Enviar Mensaje
                  </button>
                  <div id="msgSubmit" class="h3 text-center hidden"></div>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="col-lg-12 col-xs-12">
        <div class="left-contact">
          <h2>Contacto</h2>
          <div class="media cont-line">
            <div class="media-left icon-b">
              <i class="fa fa-location-arrow" aria-hidden="true"></i>
            </div>
            <div class="media-body dit-right">
              <h4>Dirección</h4>
              <p>Fleming 196 Woodside Circle Mobile, FL 36602</p>
            </div>
          </div>
          <div class="media cont-line">
            <div class="media-left icon-b">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </div>
            <div class="media-body dit-right">
              <h4>Email</h4>
              <a href="#">contacto&#64;health-lab.com</a><br />
              <a href="#">informacion&#64;health-lab.com</a>
            </div>
          </div>
          <div class="media cont-line">
            <div class="media-left icon-b">
              <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
            </div>
            <div class="media-body dit-right">
              <h4>Numeros de Teléfono</h4>
              <a href="#">12345 67890</a><br />
              <a href="#">12345 67890</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Contact -->
