<!-- Start About us -->
<div id="about" class="about-box">
  <div class="about-a1">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="title-box">
            <h2>Nosotros</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row align-items-center about-main-info">
            <div class="col-lg-6 col-md-6 col-sm-12">
              <h2>Bienvenido a Health Lab</h2>
              <p>
                En Health Lab, nos dedicamos a proporcionar servicios de salud
                de alta calidad con un enfoque en la innovación y el cuidado
                personalizado. Nuestro equipo de profesionales está comprometido
                con su bienestar, utilizando las últimas tecnologías y métodos
                avanzados para asegurar que reciba la mejor atención posible.
              </p>
              <p>
                Nos enorgullece ofrecer una amplia gama de servicios médicos que
                abarcan desde consultas de rutina hasta tratamientos
                especializados. En Health Lab, su salud es nuestra prioridad, y
                trabajamos incansablemente para crear un entorno seguro y
                acogedor donde pueda recibir el cuidado que necesita para vivir
                una vida saludable y plena.
              </p>
              <a href="#" class="new-btn-d br-2">Leer mas</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
              <div class="about-m">
                <figure id="banner">
                  <img [src]="randomImageUrl()" alt="" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End About us -->
