<!-- Start Appointment -->
<div id="appointment" class="appointment-main">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Citas Medicas</h2>
          <p>
            Aqui podra solicitar su cita medica con el especialista requerido
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <div class="well-block">
          <div class="well-title">
            <h2>Agendar una cita medica</h2>
          </div>
          <form [formGroup]="appointmentForm" (ngSubmit)="makeAppointment()">
            <!-- Form start -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="name">Nombre</label>
                  <input
                    id="name"
                    name="name"
                    type="text"
                    placeholder="Name"
                    class="form-control input-md"
                    formControlName="name"
                  />
                @if (confirmNameInvalid) {
                <span class="text-red"
                  >El nombre debe tener minimo 3 caracteres</span
                >
                }
                </div>
              </div>
              <!-- Text input-->
              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="email">Email</label>
                  <input
                    id="email"
                    name="email"
                    type="text"
                    placeholder="E-Mail"
                    class="form-control input-md"
                    formControlName="email"
                  />
                @if (confirmEmailInvalid) {
                <span class="text-red">No es un Email valido</span>
                }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label class="control-label" for="appointmentfor"
                    >Especialista</label
                  >
                  <select
                    id="appointmentfor"
                    name="appointmentfor"
                    class="form-control"
                    formControlName="appointmentfor"
                  >
                    <option value="">Seleccione una especialidad</option>
                    <option value="Gynacology">Ginecologia</option>
                    <option value="Dermatologist">Dermatoligia</option>
                    <option value="Orthology">Fonología</option>
                    <option value="Anesthesiology">Anestesiología</option>
                    <option value="Ayurvedic">Homeopatología</option>
                    <option value="General">Medicina General</option>
                  </select>
                @if (confirmAppointmentforInvalid) {
                <span class="text-red"
                  >Debe seleccionar una especialidad</span
                >
                }
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="date"
                    >Fecha de preferencia</label
                  >
                  <input
                    id="date"
                    name="date"
                    type="date"
                    placeholder="Preferred Date"
                    class="form-control input-md"
                    formControlName="date"
                  />
                @if (confirmDateInvalid) {
                <span class="text-red">Debe seleccionar una fecha</span>
                }
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label class="control-label" for="time"
                    >Hora de Preferencia</label
                  >
                   <input
                    type="time"
                    id="time"
                    name="time"
                    class="form-control"
                    formControlName="time"
                  />
                @if (confirmTimeInvalid) {
                <span class="text-red">Debe seleccionar una hora</span>
                }
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <button
                    type="submit"
                    id="singlebutton"
                    name="singlebutton"
                    class="new-btn-d br-2 mt-3"
                  >
                    Pedir Ahora
                  </button>
                </div>
              </div>
            </div>
          </form>
          <!-- form end -->
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="well-block">
          <div class="well-title">
            <h2>¿Por que solicitar una cita con nosotros?</h2>
          </div>
          <div class="feature-block">
            <div class="feature feature-blurb-text">
              <h4 class="feature-title">
                Disponibilidad 24 horas, 7 días a la semana
              </h4>
              <div class="feature-content">
                <p>
                  Siempre dispuestos a cuidar de su salud, con la mejor atención
                </p>
              </div>
            </div>
            <div class="feature feature-blurb-text">
              <h4 class="feature-title">Personal experto a su disposición</h4>
              <div class="feature-content">
                <p>
                  Nuestro personal esta altamente capacitado para atender sus
                  necesidades
                </p>
              </div>
            </div>
            <div class="feature feature-blurb-text">
              <h4 class="feature-title">Precios justos y cuotas bajas</h4>
              <div class="feature-content">
                <p>
                  Nuestros precios son accesibles para que pueda cuidar de su
                  salud sin preocupaciones
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Appointment -->
