<!-- Start Gallery -->
<div id="gallery" class="gallery-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Galeria</h2>
          <p>Siempre dispuestos a cuidarle, con los mejores especialistas a su alcance</p>
        </div>
      </div>
    </div>

    <div class="popup-gallery row clearfix">
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-01.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-02.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-03.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-04.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-05.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-06.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-07.jpg" alt="" />
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box-gallery">
          <img src="/assets/images/gallery-08.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Gallery -->
