<!-- Start Services -->
<div id="services" class="services-box">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="title-box">
          <h2>Servicios</h2>
          <p>Nuestro portafolio de servios a su medida</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-h-square" aria-hidden="true"></i>
          </div>
          <h3 class="title">Servicios Hospitalarios</h3>
          <p class="description">
            En nuestro hospital, ofrecemos una amplia gama de servicios médicos
            y hospitalarios para garantizar su bienestar y salud. Nuestro equipo
            de profesionales está dedicado a proporcionar atención de alta
            calidad en un entorno seguro y cómodo.
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-heart" aria-hidden="true"></i>
          </div>
          <h3 class="title">Cuidado Cardiovascular</h3>
          <p class="description">
            Nuestro hospital se dedica a proporcionar atención cardiovascular de
            primer nivel. Contamos con un equipo de especialistas en cardiología
            que utilizan tecnología avanzada para diagnosticar y tratar
            enfermedades del corazón.
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-hospital-o" aria-hidden="true"></i>
          </div>
          <h3 class="title">Servicios Hospitalarios Integrales</h3>
          <p class="description">
            En nuestro hospital, nos enorgullecemos de ofrecer una atención
            médica integral y de alta calidad. Contamos con instalaciones
            modernas y un equipo de profesionales para su cuidado
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
          </div>
          <h3 class="title">Servicios de Diagnóstico</h3>
          <p class="description">
            Nuestro hospital ofrece servicios de diagnóstico de vanguardia para
            asegurar que reciba el mejor cuidado posible. Utilizamos tecnología
            avanzada y técnicas innovadoras para realizar diagnósticos precisos
            y rápidos.
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-wheelchair" aria-hidden="true"></i>
          </div>
          <h3 class="title">Servicios de Rehabilitación</h3>
          <p class="description">
            En nuestro hospital, ofrecemos servicios de rehabilitación de alta
            calidad para ayudar a nuestros pacientes a recuperar su movilidad y
            mejorar su calidad de vida. Especialistas siempre a su disposición
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-plus-square" aria-hidden="true"></i>
          </div>
          <h3 class="title">Servicios de Expansión</h3>
          <p class="description">
            Nos enorgullece anunciar la expansión de nuestros servicios
            hospitalarios para incluir nuevas especialidades y tratamientos
            avanzados. Con esta expansión, buscamos ofrecer una atención más
            completa y accesible a todos nuestros pacientes.
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-medkit" aria-hidden="true"></i>
          </div>
          <h3 class="title">Servicios de Urgencias</h3>
          <p class="description">
            Nuestro hospital cuenta con un servicio de urgencias altamente
            capacitado y disponible las 24 horas del día, los 7 días de la
            semana. Estamos equipados para manejar cualquier tipo de emergencia
            médica con rapidez y eficiencia.
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
      <div class="col-3 mb-3">
        <div class="serviceBox">
          <div class="service-icon">
            <i class="fa fa-user-md" aria-hidden="true"></i>
          </div>
          <h3 class="title">Atención Médica Especializada</h3>
          <p class="description">
            En nuestro hospital, contamos con un equipo de médicos especialistas
            altamente capacitados en diversas áreas de la medicina. Nuestro
            objetivo es proporcionar una atención médica de calidad,
            personalizada.
          </p>
          <a href="#" class="new-btn-d br-2">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
